{% extends 'catalog_app/base.html' %}
{% load custom_filters %}
{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Skystore</h1>
    <p class="lead">Skystore - это отличный вариант хранения ваших плагинов и примеров кода, который вы бы хотели
        продать</p>
</div>
<div class="col-10 mb-5">
    <a class="btn btn-outline-primary" href="{% url 'catalog_app:create_product' %}">Добавить Продукт</a>
</div>
<div class="container d-flex">
    {% for object in object_list %}
        <div class="container cards row row-cols-1 row-cols-md-1 mb-1 text-center">
            <div class="col-3">
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-1 font-weight-normal">
                             <a href="{% url 'catalog_app:product' object.pk %}">{{ object.name }}</a>
                        </h4>
                        {% if object.image %}
                            <img src="{{ object.image|mediapath }}" alt="{{ object.name }}" width="50vw">
                        {% else %}
                            <p>Изображение не доступно</p>
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">{{ object.price }}</h1>
                        <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                            <li>{{ object.description|truncate_description }}</li>
                            {% for version in active_versions %}
                                {% if version.product == object %}
                                    <p class="text-muted"> Владелец предложения: {{ product.owner|default:"Свободное ПО" }}</p>
                                    <li>Активная версия: {{ version.version_name }}</li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                        <div class="list-unstyled mt-3 mb-4 text-start m-3">
                            <a href="{% url 'catalog_app:product' object.pk %}" class="btn-outline-secondary">{{ object.category }}</a>
                        </div>
                        <button type="button" class="btn btn-lg btn-block btn-outline-primary">Купить</button>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
