{% extends 'catalog_app/base.html' %}
{% block content %}
    <div class="col-md-12">
        <form class="row" method="post" enctype="multipart/form-data">
            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            Добавить продукт
                        </h3>
                    </div>
                    <div class="card-body">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-success">Сохранить</button>
                    </div>
                    <div class="card-footer"></div>
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            Версия Продукта
                        </h3>
                    </div>
                    <div class="card-body">
                        {{ formset.management_form }}
                        {% for form in formset.forms %}
                            {{ form.as_p }}
                        {% endfor %}
                        <div class="form-group">
                            <label for="{{ form.is_active_version.id_for_label }}">Активная версия</label>
                            {{ form.is_active_version }}
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}