{% extends 'catalog_app/base.html' %}
{% load custom_filters %}

{% block content %}
<div class="container">
    <div class="card mb-4 box-shadow">
        <div class="card-header">
            <h4 class="my-1 font-weight-normal">{{ product.name }}</h4>
            <a href="{% url 'catalog_app:product' pk=product.pk %}">{{ product.category }}</a>
        </div>
        <div class="card-body">
            <h1 class="card-title pricing-card-title">{{ product.price }}</h1>
            <p>{{ product.description }}</p>
            <p class="text-muted"> Владелец предложения: {{ product.owner|default:"Свободное ПО" }}</p>
            <button type="button" class="btn btn-lg btn-block btn-outline-primary">Купить</button>
        </div>
    </div>
</div>
    <button type="button" class="btn btn-lg btn-">
        <a href="{% url 'catalog_app:update_product' object.pk %}" type="button"
           class="btn btn-sm btn-outline-secondary">Edit</a>
        <a href="{% url 'catalog_app:delete_product' object.pk %}" type="button"
           class="btn btn-sm btn-outline-danger">Delete</a>
    </button>
{% endblock %}
